    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <div class="carousel-inner">
                <div class="item active caro-image">
                    <div class="container">

                      <%= image_tag('ItsRidic2.png', class: "center-block img-responsive") %>
                     
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Services</h2>
                <p class="lead">Check out some of the great services we offer!</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-code"></i>
                            <h2 style="color: #787878;">Web App Development</h2>
                            <h3 style="color: #787878;">Custom web apps for your needs.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-desktop"></i>
                            <h2 style="color: #787878;">Custom Programs</h2>
                            <h3 style="color: #787878;">"Fluent in over 6 million forms of communication."</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2 style="color: #787878;">Troubleshooting</h2>
                            <h3 style="color: #787878;">Something not working right?  Let us help.</h3>
                        </div>
                    </div><!--/.col-md-4-->            
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="services" class="service-item">
     <div class="container">
            <div class="center wow fadeInDown">
                <h2>Products</h2>
                <p class="lead">In addition to our awesome services we have some awesome products as well!  Stay tuned for more information!</p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Task Clash (Beta)</h3>
                            <h3 class="media-heading" style="color: #787878;">Track Time and Cases</h3>
                        </div>                    
                        <div class="center-block" style="text-align:center;">
                            <%= link_to image_tag('taskclash-large.png', style: 'height: 175px;'), "http://www.taskclash.com" %>
                        </div>
                        <div class="media-body pull-left">
                            <ul>
                                <li>Case Management</li>
                                <li>Project Management</li>
                                <li>Easy to Use</li>
                            </ul>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Never Scene</h3>
                            <h3 class="media-heading" style="color: #787878;">"You've Never Seen That!?"</h3>
                        </div>                    
                        <div class="center-block" style="text-align:center;">
                            <%= link_to image_tag('neverscene.png', style: 'height: 200px;'), "http://www.neverscene.net" %>
                        </div>
                        <div class="media-body pull-left">
                            <ul>
                                <li>Vote on must see movies!</li>
                                <li>Sign up using Facebook</li>
                                <li>Write movie reviews</li>
                            </ul>
                        </div>
                    </div>
                </div>                            
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">White Touch Screen Glove</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>                    
                        <div class="center-block" style="text-align:center;">
                            <%= link_to image_tag('touchscreenglovewhite.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B015NB7USA" %>
                        </div>
                        <div class="media-body pull-left">
                            <ul>
                                <li>Use phone while wearing gloves!</li>
                                <li>Warm</li>
                                <li>Washable</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Black Touch Screen Glove</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>                    
                        <div class="center-block" style="text-align:center;">
                            <%= link_to image_tag('touchscreengloveblack.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B015NB3TKI" %>
                        </div>
                        <div class="media-body pull-left">
                            <ul>
                                <li>Use phone while wearing gloves!</li>
                                <li>Warm</li>
                                <li>Washable</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Touch Screen Glove</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>                    
                        <div class="center-block multi-color-glove" style="text-align:center;">
                            <%= link_to image_tag('touchscreenglovegreen.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5S5G" %>
                        </div>
                        <div class="center-block green-glove" style="text-align:center; display: none;">
                          <%= link_to image_tag('touchscreenglovegreen.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5S5G" %>
                        </div>
                        <div class="center-block yellow-glove" style="text-align:center; display: none;">
                          <%= link_to image_tag('touchscreengloveyellow.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5TFA" %>
                        </div>
                         <div class="center-block grey-glove" style="text-align:center; display: none;">
                          <%= link_to image_tag('touchscreenglovegrey.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PCJMDY" %>
                        </div>
                         <div class="center-block navyblue-glove" style="text-align:center; display: none;">
                          <%= link_to image_tag('touchscreenglovenavyblue.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5OJQ" %>
                        </div>
                         <div class="center-block offwhite-glove" style="text-align:center; display: none;">
                          <%= link_to image_tag('touchscreengloveoffwhite.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5W1Q" %>
                        </div>
                         <div class="center-block orange-glove" style="text-align:center; display: none;">
                          <%= link_to image_tag('touchscreengloveorange.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5RYS" %>
                        </div>
                         <div class="center-block pink-glove" style="text-align:center; display: none;">
                          <%= link_to image_tag('touchscreenglovepink.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5TDW" %>
                         </div>
                         <div class="center-block red-glove" style="text-align:center; display: none;">
                          <%= link_to image_tag('touchscreenglovered.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5UPE" %>
                         </div>
                         <div class="center-block sapphireblue-glove" style="text-align:center; display: none;">
                          <%= link_to image_tag('touchscreenglovesapphireblue.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5PWC" %>
                         </div>
                         <div class="center-block acidblue-glove" style="text-align:center; display: none;">
                          <%= link_to image_tag('touchscreengloveacidblue.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5PWC" %>
                         </div>

                        <ol class="nonum" style="list-style-type: none;">
                          <li class="color-green" style="float: left;"><%= image_tag('greenbox.png') %></li>
                            <li class="color-grey" style="float: left;"><%= image_tag('greybox.png') %></li>
                            <li class="color-navyblue" style="float: left;"><%= image_tag('navybluebox.png') %></li>
                            <li class="color-offwhite" style="float: left;"><%= image_tag('offwhitebox.png') %></li>
                            <li class="color-orange" style="float: left;"><%= image_tag('orangebox.png') %></li>
                            <li class="color-pink" style="float: left;"><%= image_tag('pinkbox.png') %></li>
                            <li class="color-red" style="float: left;"><%= image_tag('redbox.png') %></li>
                            <li class="color-sapphireblue" style="float: left;"><%= image_tag('sapphirebluebox.png') %></li>
                            <li class="color-yellow" style="float: left;"><%= image_tag('yellowbox.png') %></li>
                            <li class="color-acidblue" style="float: left;"><%= image_tag('acidbluebox.png') %></li>
                        </ol>
                        <br/>
                        <div style="float: left;">
                            <ul>
                                <li>Use phone while wearing gloves!</li>
                            </ul>                            
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Record Breaker Hacky Sack</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>                    
                        <div class="center-block" style="text-align:center;">
                            <%= link_to image_tag('recordbreaker.jpg', style: 'height: 200px;'), "http://www.amazon.com/Its-Ridic-Record-breaker-2015-2-panel-Footbag/dp/B013TN92MQ" %>
                        </div>
                        <div class="media-body pull-left">
                            <ul>
                                <li>Sand Filled - 45 Grams</li>
                                <li>2 Panel</li>
                                <li>Excellent All-Around Hack</li>
                            </ul>
                        </div>                        
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Record Staller Hacky Sack</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>                    
                        <div class="center-block" style="text-align:center;">
                            <%= link_to image_tag('recordstaller.jpg', style: 'height: 200px;'), "http://www.amazon.com/Its-Ridic-Record-2-panel-Footbag/dp/B014QAEQRM" %>
                        </div>
                        <div class="media-body pull-left">
                            <ul>
                                <li>Metal Filled - 55 Grams</li>
                                <li>2 Panel</li>
                                <li>Excellent for Stalling</li>
                            </ul>
                        </div>                        
                    </div>
                </div> 

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Round Pop Hacky Sack</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>                    
                        <div class="center-block" style="text-align:center;">
                            <%= link_to image_tag('roundpop.jpg', style: 'height: 200px;'), "http://www.amazon.com/Its-Ridic-Round-Pop-2-panel/dp/B014QA5T2I" %>
                        </div>
                        <div class="media-body pull-left">
                            <ul>
                                <li>Pellet Filled - 35 Grams</li>
                                <li>2 Panel</li>
                                <li>Excellent Beginners Hack</li>
                            </ul>
                        </div>                        
                    </div>
                </div> 

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Spiral Hacky Sack</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>                    
                        <div class="center-block" style="text-align:center;">
                            <%= link_to image_tag('spiral.jpg', style: 'height: 200px;'), "http://www.amazon.com/Its-Ridic-Spiral-2015-32-panel-Footbag/dp/B013RU0OI2" %>
                        </div>                        
                        <div class="media-body pull-left">
                            <ul>
                                <li>Pellet Filled - 35 Grams</li>
                                <li>32 Panel</li>
                                <li>Excellent Beginners Hack</li>
                            </ul>
                        </div>                        
                    </div>
                </div> 

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Round Stall Hacky Sack</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>         
                        <div class="center-block" style="text-align:center;">
                            <%= link_to image_tag('roundstall.jpg', style: 'height: 200px;'), "http://www.amazon.com/Its-Ridic-Round-Stall-2015-32-panel/dp/B014QAM74Q" %>
                        </div>  
                        <div class="media-body pull-left">
                            <ul>
                                <li>Sand Filled - 45 Grams</li>
                                <li>32 Panel</li>
                                <li>Excellent for Group Hacks</li>
                            </ul>
                        </div>                        
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Ext. Magnetic Flashlight (Red)</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>         
                        <div class="center-block" style="text-align:center;">
                            <%= link_to image_tag('redflashlight.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B017O0GA16" %>
                        </div>  
                        <div class="media-body pull-left">
                            <ul>
                                <li>LED</li>
                                <li>Extendible</li>
                                <li>Magnetic</li>
                            </ul>
                        </div>                        
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Ext. Magnetic Flashlight (Black)</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>         
                        <div class="center-block" style="text-align:center;">
                            <%= link_to image_tag('blackflashlight.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B017O0QZT8" %>
                        </div>  
                        <div class="media-body pull-left">
                            <ul>
                                <li>LED</li>
                                <li>Extendible</li>
                                <li>Magnetic</li>
                            </ul>
                        </div>                        
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Ext. Magnetic Flashlight (Blue)</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>         
                        <div class="center-block" style="text-align:center;">
                            <%= link_to image_tag('blueflashlight.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B017O0QYTY" %>
                        </div>  
                        <div class="media-body pull-left">
                            <ul>
                                <li>LED</li>
                                <li>Extendible</li>
                                <li>Magnetic</li>
                            </ul>
                        </div>                        
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Ext. Magnetic Flashlight (Silver)</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>         
                        <div class="center-block" style="text-align:center;">
                            <%= link_to image_tag('silverflashlight.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B017O13ED2" %>
                        </div>  
                        <div class="media-body pull-left">
                            <ul>
                                <li>LED</li>
                                <li>Extendible</li>
                                <li>Magnetic</li>
                            </ul>
                        </div>                        
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">It's Ridic! Logo T-Shirt</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>         
                        <div class="center-block blue-shirt" style="text-align:center;">
                            <%= link_to image_tag('itsridiclogoshirtblue.jpg', style: 'height: 200px;'), "http://www.amazon.com/ITS-RIDIC-Blue-Logo-T-SHIRT/dp/B019NUSL30" %>
                        </div> 
                        <div class="center-block grey-shirt" style="text-align:center; display: none;">
                          <%= link_to image_tag('itsridiclogoshirtgrey.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B0195PI3C2" %>
                        </div>
                        <div class="center-block green-shirt" style="text-align:center; display: none;">
                          <%= link_to image_tag('itsridiclogoshirtgreen.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B0195PI0RK" %>
                        </div>
                        <div class="center-block black-shirt" style="text-align:center; display: none;">
                          <%= link_to image_tag('itsridiclogoshirtblack.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B0195PGSAG" %>
                        </div>
                        <ol class="nonum" style="list-style-type: none;">
                          <li class="color-tshirtblue" style="float: left;"><%= image_tag('shirtbluebox.png') %></li>
                          <li class="color-tshirtblack" style="float: left;"><%= image_tag('shirtblackbox.png') %></li>
                          <li class="color-tshirtgrey" style="float: left;"><%= image_tag('shirtgreybox.png') %></li>
                          <li class="color-tshirtgreen" style="float: left;"><%= image_tag('shirtgreenbox.png') %></li>
                        </ol>
                        <div class="media-body pull-left">
                            <ul>
                                <li>50% cotton, 50% polyester</li>
                                <li>Double Needle Stitching</li>
                            </ul>
                        </div>                        
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->  

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    It's Ridic, LLC
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><%= link_to "Home", root_path %></li>
                        <li><%= link_to "About Us", about_path %></li>
                        <li><%= mail_to "info@itsridic.com", "Contact Us" %></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    <script>
      $('.color-green').mouseover(function() {
        $('.multi-color-glove').hide();
        $('.yellow-glove').hide();
        $('.grey-glove').hide();
        $('.navyblue-glove').hide();
        $('.offwhite-glove').hide();
        $('.orange-glove').hide();
        $('.pink-glove').hide();
        $('.red-glove').hide();
        $('.sapphireblue-glove').hide();
        $('.yellow-glove').hide();
        $('.acidblue-glove').hide();
        $('.green-glove').show();
      });
      $('.color-yellow').mouseover(function() {
        $('.multi-color-glove').hide();
        $('.green-glove').hide();
        $('.grey-glove').hide();
        $('.navyblue-glove').hide();
        $('.offwhite-glove').hide();
        $('.orange-glove').hide();
        $('.pink-glove').hide();
        $('.red-glove').hide();
        $('.sapphireblue-glove').hide();
        $('.acidblue-glove').hide();
        $('.yellow-glove').show();
      });
      $('.color-grey').mouseover(function() {
        $('.multi-color-glove').hide();
        $('.green-glove').hide();
        $('.navyblue-glove').hide();
        $('.offwhite-glove').hide();
        $('.orange-glove').hide();
        $('.pink-glove').hide();
        $('.red-glove').hide();
        $('.sapphireblue-glove').hide();
        $('.yellow-glove').hide(); 
        $('.acidblue-glove').hide();
        $('.grey-glove').show();
      });
      $('.color-navyblue').mouseover(function() {
        $('.multi-color-glove').hide();
        $('.green-glove').hide();
        $('.offwhite-glove').hide();
        $('.orange-glove').hide();
        $('.pink-glove').hide();
        $('.red-glove').hide();
        $('.sapphireblue-glove').hide();
        $('.yellow-glove').hide(); 
        $('.grey-glove').hide();
        $('.acidblue-glove').hide();
        $('.navyblue-glove').show();
      });
      $('.color-offwhite').mouseover(function() {
        $('.multi-color-glove').hide();
        $('.green-glove').hide();
        $('.orange-glove').hide();
        $('.pink-glove').hide();
        $('.red-glove').hide();
        $('.sapphireblue-glove').hide();
        $('.yellow-glove').hide(); 
        $('.grey-glove').hide();
        $('.navyblue-glove').hide();
        $('.acidblue-glove').hide();
        $('.offwhite-glove').show();
      });
      $('.color-orange').mouseover(function() {
        $('.multi-color-glove').hide();
        $('.green-glove').hide();
        $('.pink-glove').hide();
        $('.red-glove').hide();
        $('.sapphireblue-glove').hide();
        $('.yellow-glove').hide(); 
        $('.grey-glove').hide();
        $('.navyblue-glove').hide();
        $('.offwhite-glove').hide();
        $('.acidblue-glove').hide();
        $('.orange-glove').show();
      });
      $('.color-pink').mouseover(function() {
        $('.multi-color-glove').hide();
        $('.green-glove').hide();
        $('.red-glove').hide();
        $('.sapphireblue-glove').hide();
        $('.yellow-glove').hide(); 
        $('.grey-glove').hide();
        $('.navyblue-glove').hide();
        $('.offwhite-glove').hide();
        $('.orange-glove').hide();
        $('.acidblue-glove').hide();
        $('.pink-glove').show();
      });
      $('.color-red').mouseover(function() {
        $('.multi-color-glove').hide();
        $('.green-glove').hide();
        $('.sapphireblue-glove').hide();
        $('.yellow-glove').hide(); 
        $('.grey-glove').hide();
        $('.navyblue-glove').hide();
        $('.offwhite-glove').hide();
        $('.orange-glove').hide();
        $('.pink-glove').hide();
        $('.acidblue-glove').hide();
        $('.red-glove').show();
      });
      $('.color-sapphireblue').mouseover(function() {
        $('.multi-color-glove').hide();
        $('.green-glove').hide();
        $('.yellow-glove').hide(); 
        $('.grey-glove').hide();
        $('.navyblue-glove').hide();
        $('.offwhite-glove').hide();
        $('.orange-glove').hide();
        $('.pink-glove').hide();
        $('.red-glove').hide();
        $('.acidblue-glove').hide();
        $('.sapphireblue-glove').show();
      });
      $('.color-acidblue').mouseover(function() {
        $('.multi-color-glove').hide();
        $('.green-glove').hide();
        $('.yellow-glove').hide(); 
        $('.grey-glove').hide();
        $('.navyblue-glove').hide();
        $('.offwhite-glove').hide();
        $('.orange-glove').hide();
        $('.pink-glove').hide();
        $('.red-glove').hide();
        $('.sapphireblue-glove').hide();
        $('.acidblue-glove').show();
      });
      $('.color-tshirtblue').mouseover(function() {
        $('.grey-shirt').hide();
        $('.green-shirt').hide();
        $('.black-shirt').hide();
        $('.blue-shirt').show();
      }); 
      $('.color-tshirtgrey').mouseover(function() {
        $('.blue-shirt').hide();
        $('.green-shirt').hide();
        $('.black-shirt').hide();
        $('.grey-shirt').show();
      }); 
      $('.color-tshirtgreen').mouseover(function() {
        $('.grey-shirt').hide();
        $('.blue-shirt').hide();
        $('.black-shirt').hide();
        $('.green-shirt').show();
      }); 
      $('.color-tshirtblack').mouseover(function() {
        $('.grey-shirt').hide();
        $('.green-shirt').hide();
        $('.blue-shirt').hide();
        $('.black-shirt').show();
      }); 
    </script>

