    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <div class="carousel-inner">
                <div class="item active caro-image">
                    <div class="container">

                      <%= image_tag('ItsRidic2.png', class: "center-block img-responsive") %>
                     
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Services</h2>
                <p class="lead">Check out some of the great services we offer!</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-code"></i>
                            <h2 style="color: #787878;">Web App Development</h2>
                            <h3 style="color: #787878;">Custom web apps for your needs.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-desktop"></i>
                            <h2 style="color: #787878;">Custom Programs</h2>
                            <h3 style="color: #787878;">"Fluent in over 6 million forms of communication."</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2 style="color: #787878;">Troubleshooting</h2>
                            <h3 style="color: #787878;">Something not working right?  Let us help.</h3>
                        </div>
                    </div><!--/.col-md-4-->            
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="services" class="service-item">
     <div class="container">
            <div class="center wow fadeInDown">
                <h2>Products</h2>
                <p class="lead">In addition to our awesome service we have some awesome products as well!  Stay tuned for more information!</p>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">White Touch Screen Glove</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>                    
                        <div class="pull-left">
                            <%= link_to image_tag('touchscreenglovewhite.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B015NB7USA" %>
                        </div>
                        <div class="media-body pull-left">
                            <ul>
                                <li>Use phone while wearing gloves!</li>
                                <li>Warm</li>
                                <li>Washable</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">Black Touch Screen Glove</h3>
                            <h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
                        </div>                    
                        <div class="pull-left">
                            <%= link_to image_tag('touchscreengloveblack.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B015NB3TKI" %>
                        </div>
                        <div class="media-body pull-left">
                            <ul>
                                <li>Use phone while wearing gloves!</li>
                                <li>Warm</li>
                                <li>Washable</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading" style="color: #787878;">2 Panel Hacky Sack</h3>
                            <h3 class="media-heading" style="color: #787878;">Coming Soon!</h3>
                        </div>                    
                        <div class="pull-left">
                            <%= image_tag('hackytwopanelredback2.jpg', style: 'height: 200px;') %>
                        </div>
                        <div class="media-body pull-left">
                            <ul>
                                <li>Multiple Varities Available Soon</li>
                                <li>Sand, Pellet, and Metal Filled</li>
                                <li>Hand Sewn</li>
                            </ul>
                        </div>                        
                    </div>
                </div>                
                                               
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    It's Ridic, LLC
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><%= link_to "Home", root_path %></li>
                        <li><%= link_to "About Us", about_path %></li>
                        <li><%= mail_to "info@itsridic.com", "Contact Us" %></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
</body>
</html>