<section id="services" class="service-item">
  <div class="container">
    <div class="center wow fadeInDown">
      <h2><%= yield(:title) %></h2>
      <% if user_signed_in? %>
        <%= link_to "New Product", new_product_path %>
      <% end %>
      <p class="lead"><%= yield(:description) %></p>
    </div>
    <div class="row">
			<% @products.each do |product| %>
				<div class="col-sm-6 col-md-4 <%= product.category %>">
					<div class="media services-wrap wow fadeInDown" style="height:300px;">                   
						<div class="center-block" style="text-align:center;">
							<%= link_to image_tag(product.image.url, style: 'height: 200px;'), product.amazon_url %>
						</div>
              <h7 style="color:000099;"><%= link_to product.title, product.image.url %> </h7> 
              <h8><%= link_to "More Product Info", product %></h8>      
					</div>
				</div>
      <% end %>
		<div class="col-sm-6 col-md-4 clothing multigloves">
			<div class="media services-wrap wow fadeInDown" style="height:300px;">                   
				<div class="center-block multi-color-glove" style="text-align:center;">
					<%= link_to image_tag('touchscreenglovegreen.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5S5G" %>
				</div>
				<div class="center-block green-glove" style="text-align:center; display: none;">
					<%= link_to image_tag('touchscreenglovegreen.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5S5G" %>
				</div>
				<div class="center-block yellow-glove" style="text-align:center; display: none;">
					<%= link_to image_tag('touchscreengloveyellow.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5TFA" %>
				</div>
				<div class="center-block grey-glove" style="text-align:center; display: none;">
					<%= link_to image_tag('touchscreenglovegrey.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PCJMDY" %>
				</div>
				<div class="center-block navyblue-glove" style="text-align:center; display: none;">
					<%= link_to image_tag('touchscreenglovenavyblue.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5OJQ" %>
				</div>
				<div class="center-block offwhite-glove" style="text-align:center; display: none;">
					<%= link_to image_tag('touchscreengloveoffwhite.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5W1Q" %>
				</div>
				<div class="center-block orange-glove" style="text-align:center; display: none;">
					<%= link_to image_tag('touchscreengloveorange.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5RYS" %>
				</div>
				<div class="center-block pink-glove" style="text-align:center; display: none;">
					<%= link_to image_tag('touchscreenglovepink.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5TDW" %>
				</div>
				<div class="center-block red-glove" style="text-align:center; display: none;">
					<%= link_to image_tag('touchscreenglovered.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5UPE" %>
				</div>
				<div class="center-block sapphireblue-glove" style="text-align:center; display: none;">
					<%= link_to image_tag('touchscreenglovesapphireblue.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5PWC" %>
				</div>
				<div class="center-block acidblue-glove" style="text-align:center; display: none;">
					<%= link_to image_tag('touchscreengloveacidblue.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5PWC" %>
				</div>
                <div class="media-body">
          <h3 class="media-heading" style="color: #787878;"><%= link_to "Touch Screen Glove", colored_touchscreen_glove_products_path %></h3>
        </div> 
				<ol class="nonum" style="list-style-type: none;">
					<li class="color-green" style="float: left;"><%= image_tag('greenbox.png') %></li>
					<li class="color-grey" style="float: left;"><%= image_tag('greybox.png') %></li>
					<li class="color-navyblue" style="float: left;"><%= image_tag('navybluebox.png') %></li>
					<li class="color-offwhite" style="float: left;"><%= image_tag('offwhitebox.png') %></li>
					<li class="color-orange" style="float: left;"><%= image_tag('orangebox.png') %></li>
					<li class="color-pink" style="float: left;"><%= image_tag('pinkbox.png') %></li>
					<li class="color-red" style="float: left;"><%= image_tag('redbox.png') %></li>
					<li class="color-sapphireblue" style="float: left;"><%= image_tag('sapphirebluebox.png') %></li>
					<li class="color-yellow" style="float: left;"><%= image_tag('yellowbox.png') %></li>
					<li class="color-acidblue" style="float: left;"><%= image_tag('acidbluebox.png') %></li>
				</ol>
				<br/>
				<div style="float: left;">
					<ul>
						<li>Use phone while wearing gloves!</li>
					</ul>
				</div>
			</div>
		</div>
      <div class="col-sm-6 col-md-4 clothing">
        <div class="media services-wrap wow fadeInDown" style="height:300px;">
          <div class="media-body">
            <h3 class="media-heading" style="color: #787878;">It's Ridic! Logo T-Shirt</h3>
          </div>         
          <div class="center-block blue-shirt" style="text-align:center;">
            <%= link_to image_tag('itsridiclogoshirtblue.jpg', style: 'height: 200px;'), "http://www.amazon.com/ITS-RIDIC-Blue-Logo-T-SHIRT/dp/B019NUSL30" %>
          </div> 
          <div class="center-block grey-shirt" style="text-align:center; display: none;">
            <%= link_to image_tag('itsridiclogoshirtgrey.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B0195PI3C2" %>
          </div>
          <div class="center-block green-shirt" style="text-align:center; display: none;">
            <%= link_to image_tag('itsridiclogoshirtgreen.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B0195PI0RK" %>
          </div>
          <div class="center-block black-shirt" style="text-align:center; display: none;">
            <%= link_to image_tag('itsridiclogoshirtblack.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B0195PGSAG" %>
          </div>
          <ol class="nonum" style="list-style-type: none;">
            <li class="color-tshirtblue" style="float: left;"><%= image_tag('shirtbluebox.png') %></li>
            <li class="color-tshirtblack" style="float: left;"><%= image_tag('shirtblackbox.png') %></li>
            <li class="color-tshirtgrey" style="float: left;"><%= image_tag('shirtgreybox.png') %></li>
            <li class="color-tshirtgreen" style="float: left;"><%= image_tag('shirtgreenbox.png') %></li>
          </ol>
          <div class="media-body pull-left">
            <ul>
              <li>50% cotton, 50% polyester</li>
              <li>Double Needle Stitching</li>
            </ul>
          </div>                        
        </div>
      </div>
		</div><!--/.row-->
	</div><!--/.container-->
</section><!--/#services-->  
<script>
$('.color-green').mouseover(function() {
	$('.multi-color-glove').hide();
	$('.yellow-glove').hide();
	$('.grey-glove').hide();
	$('.navyblue-glove').hide();
	$('.offwhite-glove').hide();
	$('.orange-glove').hide();
	$('.pink-glove').hide();
	$('.red-glove').hide();
	$('.sapphireblue-glove').hide();
	$('.yellow-glove').hide();
	$('.acidblue-glove').hide();
	$('.green-glove').show();
});
$('.color-yellow').mouseover(function() {
	$('.multi-color-glove').hide();
	$('.green-glove').hide();
	$('.grey-glove').hide();
	$('.navyblue-glove').hide();
	$('.offwhite-glove').hide();
	$('.orange-glove').hide();
	$('.pink-glove').hide();
	$('.red-glove').hide();
	$('.sapphireblue-glove').hide();
	$('.acidblue-glove').hide();
	$('.yellow-glove').show();
});
$('.color-grey').mouseover(function() {
	$('.multi-color-glove').hide();
	$('.green-glove').hide();
	$('.navyblue-glove').hide();
	$('.offwhite-glove').hide();
	$('.orange-glove').hide();
	$('.pink-glove').hide();
	$('.red-glove').hide();
	$('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.acidblue-glove').hide();
  $('.grey-glove').show();
});
$('.color-navyblue').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.acidblue-glove').hide();
  $('.navyblue-glove').show();
});
$('.color-offwhite').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.acidblue-glove').hide();
  $('.offwhite-glove').show();
});
$('.color-orange').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.acidblue-glove').hide();
  $('.orange-glove').show();
});
$('.color-pink').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.acidblue-glove').hide();
  $('.pink-glove').show();
});
$('.color-red').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.acidblue-glove').hide();
  $('.red-glove').show();
});
$('.color-sapphireblue').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.acidblue-glove').hide();
  $('.sapphireblue-glove').show();
});
$('.color-acidblue').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.acidblue-glove').show();
});
$('.color-tshirtblue').mouseover(function() {
  $('.grey-shirt').hide();
  $('.green-shirt').hide();
  $('.black-shirt').hide();
  $('.blue-shirt').show();
}); 
$('.color-tshirtgrey').mouseover(function() {
  $('.blue-shirt').hide();
  $('.green-shirt').hide();
  $('.black-shirt').hide();
  $('.grey-shirt').show();
}); 
$('.color-tshirtgreen').mouseover(function() {
  $('.grey-shirt').hide();
  $('.blue-shirt').hide();
  $('.black-shirt').hide();
  $('.green-shirt').show();
}); 
$('.color-tshirtblack').mouseover(function() {
  $('.grey-shirt').hide();
  $('.green-shirt').hide();
  $('.blue-shirt').hide();
  $('.black-shirt').show();
}); 
</script>

