<section id="services" class="service-item">
  <div class="container">
    <div class="center wow fadeInDown">
      <h2><%= yield(:title) %></h2>
      <p class="lead"><%= yield(:description) %></p>
    </div>
    <div class="row">
			<% @products.each do |product| %>
				<div class="col-sm-6 col-md-4 <%= product.category %>">
					<div class="media services-wrap wow fadeInDown">
						<div class="media-body">
							<h3 class="media-heading" style="color: #787878;"><%= link_to product.title, product %></h3>
							<h3 class="media-heading" style="color: #787878;">Click picture to purchase</h3>
						</div>                    
						<div class="center-block" style="text-align:center;">
							<%= link_to image_tag(product.image.url, style: 'height: 200px;'), product.amazon_url %>
						</div>
						<div class="media-body pull-left">
							<ul>
								<li><%= product.bullet1 %></li>
								<li><%= product.bullet2 %></li>
								<li><%= product.bullet3 %></li>
							</ul>
						</div>
					</div>
				</div>
      <% end %>
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#services-->  
<script>
$('.color-green').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.yellow-glove').hide();
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide();
  $('.acidblue-glove').hide();
  $('.green-glove').show();
});
$('.color-yellow').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.acidblue-glove').hide();
  $('.yellow-glove').show();
});
$('.color-grey').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.acidblue-glove').hide();
  $('.grey-glove').show();
});
$('.color-navyblue').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.acidblue-glove').hide();
  $('.navyblue-glove').show();
});
$('.color-offwhite').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.acidblue-glove').hide();
  $('.offwhite-glove').show();
});
$('.color-orange').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.acidblue-glove').hide();
  $('.orange-glove').show();
});
$('.color-pink').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.acidblue-glove').hide();
  $('.pink-glove').show();
});
$('.color-red').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.acidblue-glove').hide();
  $('.red-glove').show();
});
$('.color-sapphireblue').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.acidblue-glove').hide();
  $('.sapphireblue-glove').show();
});
$('.color-acidblue').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.acidblue-glove').show();
});
$('.color-tshirtblue').mouseover(function() {
  $('.grey-shirt').hide();
  $('.green-shirt').hide();
  $('.black-shirt').hide();
  $('.blue-shirt').show();
}); 
$('.color-tshirtgrey').mouseover(function() {
  $('.blue-shirt').hide();
  $('.green-shirt').hide();
  $('.black-shirt').hide();
  $('.grey-shirt').show();
}); 
$('.color-tshirtgreen').mouseover(function() {
  $('.grey-shirt').hide();
  $('.blue-shirt').hide();
  $('.black-shirt').hide();
  $('.green-shirt').show();
}); 
$('.color-tshirtblack').mouseover(function() {
  $('.grey-shirt').hide();
  $('.green-shirt').hide();
  $('.blue-shirt').hide();
  $('.black-shirt').show();
}); 
</script>

