<div class="container product-page" id="top">
  <div class="title text-center">
    <h1>Touchscreen Glove (Multi-Colored)</h1>
    <hr />
  </div>
  <div class="row">
    <div class="col-sm-4 product-image">
      <div class="center-block multi-color-glove" style="text-align:center;">
        <%= link_to image_tag('touchscreenglovegreen.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5S5G" %>
      </div>
      <div class="center-block green-glove" style="text-align:center; display: none;">
        <%= link_to image_tag('touchscreenglovegreen.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5S5G" %>
      </div>
      <div class="center-block yellow-glove" style="text-align:center; display: none;">
        <%= link_to image_tag('touchscreengloveyellow.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5TFA" %>
      </div>
      <div class="center-block grey-glove" style="text-align:center; display: none;">
        <%= link_to image_tag('touchscreenglovegrey.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PCJMDY" %>
      </div>
      <div class="center-block navyblue-glove" style="text-align:center; display: none;">
        <%= link_to image_tag('touchscreenglovenavyblue.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5OJQ" %>
      </div>
      <div class="center-block offwhite-glove" style="text-align:center; display: none;">
        <%= link_to image_tag('touchscreengloveoffwhite.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5W1Q" %>
      </div>
      <div class="center-block orange-glove" style="text-align:center; display: none;">
        <%= link_to image_tag('touchscreengloveorange.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5RYS" %>
      </div>
      <div class="center-block pink-glove" style="text-align:center; display: none;">
        <%= link_to image_tag('touchscreenglovepink.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5TDW" %>
      </div>
      <div class="center-block red-glove" style="text-align:center; display: none;">
        <%= link_to image_tag('touchscreenglovered.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5UPE" %>
      </div>
      <div class="center-block sapphireblue-glove" style="text-align:center; display: none;">
        <%= link_to image_tag('touchscreenglovesapphireblue.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5PWC" %>
      </div>
      <div class="center-block acidblue-glove" style="text-align:center; display: none;">
        <%= link_to image_tag('touchscreengloveacidblue.jpg', style: 'height: 200px;'), "http://www.amazon.com/dp/B019PG5PWC" %>
      </div>

      <ol class="nonum" style="list-style-type: none;">
        <li class="color-green" style="float: left;"><%= image_tag('greenbox.png') %></li>
        <li class="color-grey" style="float: left;"><%= image_tag('greybox.png') %></li>
        <li class="color-navyblue" style="float: left;"><%= image_tag('navybluebox.png') %></li>
        <li class="color-offwhite" style="float: left;"><%= image_tag('offwhitebox.png') %></li>
        <li class="color-orange" style="float: left;"><%= image_tag('orangebox.png') %></li>
        <li class="color-pink" style="float: left;"><%= image_tag('pinkbox.png') %></li>
        <li class="color-red" style="float: left;"><%= image_tag('redbox.png') %></li>
        <li class="color-sapphireblue" style="float: left;"><%= image_tag('sapphirebluebox.png') %></li>
        <li class="color-yellow" style="float: left;"><%= image_tag('yellowbox.png') %></li>
        <li class="color-acidblue" style="float: left;"><%= image_tag('acidbluebox.png') %></li>
      </ol>
    </div>

    <div class="col-sm-8">
      <h2>Stay warm while using your phone!</h2>
      <ul>
        <li>95% <%=link_to "Acrylic", "https://en.wikipedia.org/wiki/Acrylic_fiber" %></li>
        <li>Works on all touchscreen devices (iPhone, Android, iPad, etc.)</li>
        <li>One size fits most!</li>
      </ul>
      <%= link_to "Read more...", "#moreinfo" %>
      <hr />
      <div class="product-price">
        <p>$8.49</p>
      </div>
      <%= link_to "Buy Now!", "http://www.amazon.com/dp/B019PG5S5G", class: "btn btn-primary" %>
    </div>
  </div>
  <hr />
  <div class="center-block">
    <h2 class="text-center">Product Review</h2>
    <iframe class="center-block" width="420" height="315" src="https://www.youtube.com/embed/JvfMlXghq_o" frameborder="0" allowfullscreen></iframe>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 additional-information center-block">
      <h2 class="text-center"><i class="fa fa-info-circle" id="moreinfo"></i></h2>
      <h2 class="text-center">Additional Information</h2>
      <p>
      The It's Ridic! warm touchscreen / texting gloves make an excellent choice for those cold daily commutes or walks where
      you want access to your phone.  They work great!
      </p>
      <h2 class="text-center"><i class="fa fa-support"></i></h2>
      <h2 class="text-center">Care Instructions</h2>
      <p>
      These gloves are washable!  We recommend washing in cold water and air drying.  We have found putting them in the dryer
      causes them to lose some of the touchscreen capability.
      </p>
      <h2 class="text-center"><i class="fa fa-question-circle"></i></h2>
      <h2 class="text-center">More Questions?</h2>
      <p>
      Shoot us an <%= link_to "email", "mailto:info@itsridic.com" %> or check out the <%= link_to "Amazon product page", "http://www.amazon.com/dp/B019PG5S5G" %> where some questions have already been answered.
      </p>
      <br />
      <p class="text-center">
      <%= link_to "<< Top >>", "#top" %>
      </p>
    </div>
  </div>
</div>

<script>
$('.color-green').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.yellow-glove').hide();
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide();
  $('.acidblue-glove').hide();
  $('.green-glove').show();
});
$('.color-yellow').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.acidblue-glove').hide();
  $('.yellow-glove').show();
});
$('.color-grey').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.acidblue-glove').hide();
  $('.grey-glove').show();
});
$('.color-navyblue').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.acidblue-glove').hide();
  $('.navyblue-glove').show();
});
$('.color-offwhite').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.acidblue-glove').hide();
  $('.offwhite-glove').show();
});
$('.color-orange').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.acidblue-glove').hide();
  $('.orange-glove').show();
});
$('.color-pink').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.acidblue-glove').hide();
  $('.pink-glove').show();
});
$('.color-red').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.acidblue-glove').hide();
  $('.red-glove').show();
});
$('.color-sapphireblue').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.acidblue-glove').hide();
  $('.sapphireblue-glove').show();
});
$('.color-acidblue').mouseover(function() {
  $('.multi-color-glove').hide();
  $('.green-glove').hide();
  $('.yellow-glove').hide(); 
  $('.grey-glove').hide();
  $('.navyblue-glove').hide();
  $('.offwhite-glove').hide();
  $('.orange-glove').hide();
  $('.pink-glove').hide();
  $('.red-glove').hide();
  $('.sapphireblue-glove').hide();
  $('.acidblue-glove').show();
});
$('.color-tshirtblue').mouseover(function() {
  $('.grey-shirt').hide();
  $('.green-shirt').hide();
  $('.black-shirt').hide();
  $('.blue-shirt').show();
}); 
$('.color-tshirtgrey').mouseover(function() {
  $('.blue-shirt').hide();
  $('.green-shirt').hide();
  $('.black-shirt').hide();
  $('.grey-shirt').show();
}); 
$('.color-tshirtgreen').mouseover(function() {
  $('.grey-shirt').hide();
  $('.blue-shirt').hide();
  $('.black-shirt').hide();
  $('.green-shirt').show();
}); 
$('.color-tshirtblack').mouseover(function() {
  $('.grey-shirt').hide();
  $('.green-shirt').hide();
  $('.blue-shirt').hide();
  $('.black-shirt').show();
}); 
</script>

