<div class="container product-page" id="top">
  <div class="title text-center">
    <h1 style="color: black;"><%= @product.title %></h1>
    <% if user_signed_in? %>
      <%= link_to "Edit", edit_product_path(@product) %>
    <% end %>
    <hr />
  </div>
  <div class="row">
    <div class="col-sm-4 product-image">
      <%= image_tag(@product.image.url(:large), class: 'img-responsive') %>
    </div>
    <div class="col-sm-5">
      <h2><%= @product.heading %></h2>
      <ul>
        <li><%= @product.bullet1 %></li>
        <li><%= @product.bullet2 %></li>
        <li><%= @product.bullet3 %></li>
      </ul>
      <hr />
    </div>
    <div class="col-sm-3" product-price">   
      <%= link_to 'Purchase for ' +number_to_currency(@product.price) + ' on Amazon!', @product.amazon_url, class: "btn btn-primary" %>
      </div>    
  </div>

  <div class="row">
    <div class="col-sm-3 additional-information center-block">
      <h2 class="text-center" style = "font-size: 14px;" style = "color: #000000;"><i class="fa fa-support" style = "color: #000000;"></i>Care Instructions</h2>
      <p style = "font-size: 17px;"><%= raw(@product.care_instructions) %></p>
    </div>
    <div class="col-sm-5 additional-information center-block"> 
    <h2 class="text-center" style = "font-size: 14px;" style = "color: #000000;"><i class="fa fa-info-circle" id="moreinfo" style = "color: #000000;" ></i>Product Demonstration</h2>
    <% unless @product.review_url.blank? %>
      <iframe class="center-block" width="420" height="315" src="<%= @product.review_url %>" frameborder="0" allowfullscreen></iframe>
    <% else %>
      <h2 class="text-center">Coming Soon!</h2>
    <% end %>
    </div>
    <div class="col-sm-4 additional-information center-block">
      <h2 class="text-center" style = "font-size: 14px;" style = "color: #000000;"><i class="fa fa-info-circle" id="moreinfo" style = "color: #000000;" ></i>Additional Information</h2>
      <p style = "font-size: 17px;"><%= raw(@product.additional_info) %></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 additional-information center-block">      
      <h2 class="text-center" style = "font-size: 20px;" style = "color: #000000;" ><i class="fa fa-question-circle" style = "color: #000000;" style =  ></i>More Questions?</h2>   
      <p style = "font-size: 17px;">
        Want to buy this item in bulk with better pricing?  Have more questions?  Send our team an <%= link_to "email by clicking on this link", "mailto:info@itsridic.com" %> or click on <%= link_to "this link for the Amazon product page", @product.amazon_url %> where questions from multiple customers have been addressed.
      </p>
      <br />
      <p class="text-center">
        <%= link_to "<< Top >>", "#top" %>
      </p>
    </div>
  </div>
</div>

