<div class="container product-page" id="top">
  <div class="title text-center">
    <h1 style="color: black;"><%= @product.title %></h1>
    <% if user_signed_in? %>
      <%= link_to "Edit", edit_product_path(@product) %>
    <% end %>
    <hr />
  </div>
  <div class="row">
    <div class="col-sm-4 product-image">
      <%= image_tag(@product.image.url(:large), class: 'img-responsive') %>
    </div>

    <div class="col-sm-8">
      <h2><%= @product.heading %></h2>
      <ul>
        <li><%= @product.bullet1 %></li>
        <li><%= @product.bullet2 %></li>
        <li><%= @product.bullet3 %></li>
      </ul>
      <%= link_to "Read more...", "#moreinfo" %>
      <hr />
      <div class="product-price">
        <p><%= number_to_currency(@product.price) %></p>
      </div>
      <%= link_to "Buy Now!", @product.amazon_url, class: "btn btn-primary" %>
    </div>
  </div>
  <hr />
  <div class="center-block">
    <h2 class="text-center">Product Review</h2>
    <% if @product.review_url.blank? %>
      <iframe class="center-block" width="420" height="315" src="<%= @product.review_url %>" frameborder="0" allowfullscreen></iframe>
    <% else %>
      <h2 class="text-center">Coming Soon!</h2>
    <% end %>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 additional-information center-block">
      <h2 class="text-center"><i class="fa fa-info-circle" id="moreinfo"></i></h2>
      <h2 class="text-center">Additional Information</h2>
      <p><%= raw(@product.additional_info) %></p>
      <h2 class="text-center"><i class="fa fa-support"></i></h2>
      <h2 class="text-center">Care Instructions</h2>
      <p><%= raw(@product.care_instructions) %></p>
      <h2 class="text-center"><i class="fa fa-question-circle"></i></h2>
      <h2 class="text-center">More Questions?</h2>
      <p>
        Shoot us an <%= link_to "email", "mailto:info@itsridic.com" %> or check out the <%= link_to "Amazon product page", @product.amazon_url %> where some questions have already been answered.
      </p>
      <br />
      <p class="text-center">
        <%= link_to "<< Top >>", "#top" %>
      </p>
    </div>
  </div>
</div>

