<footer id="footer" class="midnight-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        It's Ridic, LLC<br/>
        601 S. 3rd St.<br/>
        Knoxville, IA 50138<br/>
      </div>
      <div class="col-sm-2">
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
        <% end %>
      </div>
      <div class="col-sm-6">
        <ul class="pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About Us", about_path %></li>
          <li><%= link_to "Blog", blogs_path %></li>
          <li><%= mail_to "info@itsridic.com", "Contact Us" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-xs-8">
    <div class="social">
      <ul class="social-share">
          <li><a href="https://www.facebook.com/itsridic"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/its_ridic"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/company/10165698"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://instagram.com/itsridic/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.pinterest.com/itsridic/"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCHOl74QVkkQ_jtH1-4jtnHw"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
  </div>
</footer><!--/#footer-->
