<header id="header">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-4">
          <!--
          <div class="top-number"><p><i class="fa fa-phone-square"></i>  +0123 456 70 90</p></div>-->
        </div>
      </div>
    </div><!--/.container-->
  </div><!--/.top-bar-->

  <nav class="navbar navbar-inverse" role="banner" style="border-radius: 0px; background-color: #191919">
    <div class="container">
      <div class="navbar-header">

<%= image_tag("logo.png") %>

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      <div class="collapse navbar-collapse navbar-center">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", root_path %></li>
            <li><%= link_to "Apparel", clothing_products_path %></li>
            <li><%= link_to "Outdoor / Recreation", outdoor_products_path %></li>
            <li><%= link_to "Tools", tools_products_path %></li>
            <li><%= link_to "Decor", decor_products_path %></li>
            <li><%= link_to "Services", services_path %></li>
        </ul>
      </div>
    </div><!--/.container-->
  </nav><!--/nav-->    
</header><!--/header-->
