<!DOCTYPE html>
<html>
<head>
  <title>It's Ridic!</title>
  <link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<% if controller.controller_name == 'blogs' %>
  <body class="homepage" data-no-turbolink>
<% else %>
  <body class="homepage">
<% end %>
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  </body>
</html>
